In [1]:
import pandas as pd

In [6]:
df_vendedor = pd.read_excel('TESTE PRATICO_BaseDados.xlsx', sheet_name='TB_VENDEDOR')
df_vendedor

   ID_VENDEDOR NOME_VENDEDOR ESTADO
0            1    Vendedor 1     SP
1            2    Vendedor 2     RJ
2            3    Vendedor 3     PR
3            4    Vendedor 4     SP
4            5    Vendedor 5     MG
5            6    Vendedor 6     RJ
6            7    Vendedor 7     PR
7            8    Vendedor 8     SP
8            9    Vendedor 9     RJ
9           10   Vendedor 10     MG

In [7]:
df_vendas = pd.read_excel('TESTE PRATICO_BaseDados.xlsx', sheet_name='TB_VENDAS')
df_vendas

    ID_VENDA  ID_VENDEDOR  VALOR_VENDA_R$       DATA
0          1            7             579 2017-10-29
1          2            7             436 2017-11-11
2          3            1              56 2017-09-29
3          4            1              89 2017-11-03
4          5            2             546 2017-09-22
5          6            2             768 2017-09-29
6          7            2             120 2017-11-03
7          8            3             145 2017-06-10
8          9           10             278 2017-07-23
9         10           10              69 2017-10-27
10        11            3              87 2017-06-13
11        12            3             436 2017-07-23
12        13            1             167 2017-07-23
13        14            1             427 2017-08-10
14        15            5             985 2017-12-09
15        16            7             346 2017-08-10
16        17            9             129 2017-09-29
17        18            9             236 2017-10-27
18        19            9              87 2017-10-29
19        20           10             335 2017-06-10
20        21           10             561 2017-06-13
21        22            3             237 2017-08-10
22        23            3             421 2017-09-22
23        24            4            1237 2017-07-23
24        25            7             238 2017-09-22
25        26            5             673 2017-11-11
26        27            5             201 2017-12-05
27        28            7             899 2017-12-05
28        29            7             954 2017-12-09
29        30            8             438 2017-12-05
30        31            8             128 2017-12-09
31        32            9             456 2017-09-22
32        33            1             200 2017-06-10
33        34            1             375 2017-06-13
34        35           10             328 2017-10-29
35        36            7             734 2017-09-29
36        37            7             956 2017-10-27
37        38            1            1045 2017-09-22
38        39            4             895 2017-08-10
39        40            4             790 2017-09-22
40        41            4             936 2017-09-29