<b>Bibliotecas</b>

In [1]:
import pandas as pd

Dado as tabelas TB_VENDEDOR e TB_VENDAS já compartilhadas , peço para que seja efetuada as seguintes tarefas.

Lembrando que você poderá realizar o teste em excel, sheets, Power BI ou em qualquer ferramenta que tenha uma análise visual que respondam às perguntas abaixo. Ao finalizá-lo, deixe o link na caixa de respostas para que possamos avaliá-lo, ok?

# Criar uma rotina de ETL (Integration Services), que importe a base de dados “baseDados.xlsx”

In [2]:
def etl(dados):
    
    df_vendedor = pd.read_excel(f'{dados}', sheet_name='TB_VENDEDOR')
    df_vendas = pd.read_excel(f'{dados}', sheet_name='TB_VENDAS')
    
    return (df_vendedor, df_vendas)

In [3]:
df_vendedor = etl('TESTE PRATICO_BaseDados.xlsx')[0]
df_vendas = etl('TESTE PRATICO_BaseDados.xlsx')[1]

#  No pacote criado, marcar um flag na tabela TB_VENDEDOR para os mesmos que forem do estado “PR”. Pois estes vendedores serão inválidos para nossa apuração e análise.

In [4]:
def etl(dados):
    
    df_vendedor = pd.read_excel(f'{dados}', sheet_name='TB_VENDEDOR')
    df_vendas = pd.read_excel(f'{dados}', sheet_name='TB_VENDAS')
    
    df_inner = pd.merge(df_vendas, df_vendedor, on='ID_VENDEDOR', how='left').reset_index(drop=True)
    mask = df_inner['ESTADO'] != 'PR'
    df = df_inner[mask]
    
    return df

In [5]:
df = etl('TESTE PRATICO_BaseDados.xlsx')

In [6]:
df

    ID_VENDA  ID_VENDEDOR  VALOR_VENDA_R$       DATA NOME_VENDEDOR ESTADO
2          3            1              56 2017-09-29    Vendedor 1     SP
3          4            1              89 2017-11-03    Vendedor 1     SP
4          5            2             546 2017-09-22    Vendedor 2     RJ
5          6            2             768 2017-09-29    Vendedor 2     RJ
6          7            2             120 2017-11-03    Vendedor 2     RJ
8          9           10             278 2017-07-23   Vendedor 10     MG
9         10           10              69 2017-10-27   Vendedor 10     MG
12        13            1             167 2017-07-23    Vendedor 1     SP
13        14            1             427 2017-08-10    Vendedor 1     SP
14        15            5             985 2017-12-09    Vendedor 5     MG
16        17            9             129 2017-09-29    Vendedor 9     RJ
17        18            9             236 2017-10-27    Vendedor 9     RJ
18        19            9              87 2017-10-29    Vendedor 9     RJ
19        20           10             335 2017-06-10   Vendedor 10     MG
20        21           10             561 2017-06-13   Vendedor 10     MG
23        24            4            1237 2017-07-23    Vendedor 4     SP
25        26            5             673 2017-11-11    Vendedor 5     MG
26        27            5             201 2017-12-05    Vendedor 5     MG
29        30            8             438 2017-12-05    Vendedor 8     SP
30        31            8             128 2017-12-09    Vendedor 8     SP
31        32            9             456 2017-09-22    Vendedor 9     RJ
32        33            1             200 2017-06-10    Vendedor 1     SP
33        34            1             375 2017-06-13    Vendedor 1     SP
34        35           10             328 2017-10-29   Vendedor 10     MG
37        38            1            1045 2017-09-22    Vendedor 1     SP
38        39            4             895 2017-08-10    Vendedor 4     SP
39        40            4             790 2017-09-22    Vendedor 4     SP
40        41            4             936 2017-09-29    Vendedor 4     SP

# Faremos uma apuração das vendas por vendedor, em que geraremos um arquivo .csv contendo os campos ID_VENDEDOR, BONUS_R$.

Onde bônus será:

Vendedor que a soma das vendas seja até R$ 1.000,00 (Bônus de R$ 500,00)

Vendedor que a soma das vendas seja entre R$ 1.000,01 e R$ 2.000,00 (Bônus de R$ 750,00)

Vendedor que a soma das vendas seja mais R$ 2.000,00 (Bônus de R$ 1.000,00)

In [7]:
df_3 = df.groupby('ID_VENDEDOR')[['VALOR_VENDA_R$']].sum().reset_index()

In [8]:
df_3

   ID_VENDEDOR  VALOR_VENDA_R$
0            1            2359
1            2            1434
2            4            3858
3            5            1859
4            8             566
5            9             908
6           10            1571

In [9]:
df_3['BONUS_R$'] = 0
for valor in range(len(df_3['VALOR_VENDA_R$'])):
    if df_3['VALOR_VENDA_R$'][valor] <= 1000:
        df_3['BONUS_R$'][valor] = 500
    elif 1000 < df_3['VALOR_VENDA_R$'][valor] <= 2000:
        df_3['BONUS_R$'][valor] = 750
    else:
        df_3['BONUS_R$'][valor] = 1000

In [10]:
df_3.drop(columns=['VALOR_VENDA_R$']).to_csv('Bonus')

# Precisamos gerar os seguintes relatórios (Reporting Services, Power BI, Excel, ...)

 ## Qtd e total das vendas por estado;

In [11]:
df

    ID_VENDA  ID_VENDEDOR  VALOR_VENDA_R$       DATA NOME_VENDEDOR ESTADO
2          3            1              56 2017-09-29    Vendedor 1     SP
3          4            1              89 2017-11-03    Vendedor 1     SP
4          5            2             546 2017-09-22    Vendedor 2     RJ
5          6            2             768 2017-09-29    Vendedor 2     RJ
6          7            2             120 2017-11-03    Vendedor 2     RJ
8          9           10             278 2017-07-23   Vendedor 10     MG
9         10           10              69 2017-10-27   Vendedor 10     MG
12        13            1             167 2017-07-23    Vendedor 1     SP
13        14            1             427 2017-08-10    Vendedor 1     SP
14        15            5             985 2017-12-09    Vendedor 5     MG
16        17            9             129 2017-09-29    Vendedor 9     RJ
17        18            9             236 2017-10-27    Vendedor 9     RJ
18        19            9              87 2017-10-29    Vendedor 9     RJ
19        20           10             335 2017-06-10   Vendedor 10     MG
20        21           10             561 2017-06-13   Vendedor 10     MG
23        24            4            1237 2017-07-23    Vendedor 4     SP
25        26            5             673 2017-11-11    Vendedor 5     MG
26        27            5             201 2017-12-05    Vendedor 5     MG
29        30            8             438 2017-12-05    Vendedor 8     SP
30        31            8             128 2017-12-09    Vendedor 8     SP
31        32            9             456 2017-09-22    Vendedor 9     RJ
32        33            1             200 2017-06-10    Vendedor 1     SP
33        34            1             375 2017-06-13    Vendedor 1     SP
34        35           10             328 2017-10-29   Vendedor 10     MG
37        38            1            1045 2017-09-22    Vendedor 1     SP
38        39            4             895 2017-08-10    Vendedor 4     SP
39        40            4             790 2017-09-22    Vendedor 4     SP
40        41            4             936 2017-09-29    Vendedor 4     SP

## Qtd e total das vendas por mês;

##  Por vendedor: A média do valor de vendas, quantos dias entre a primeira e última venda;

## Exibir todas as vendas de cada vendedor, acumulando(somando) as vendas até aquele momento da venda